<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802104267733-omg0dmvpjbot6mfrla4ntdd5l6gi53h4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802104267733-omg0dmvpjbot6mfrla4ntdd5l6gi53h4</string>
	<key>API_KEY</key>
	<string>AIzaSyCeE3gPcxRIO8lawy2YBJJzWdIgtiT16Hs</string>
	<key>GCM_SENDER_ID</key>
	<string>802104267733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wordstock</string>
	<key>PROJECT_ID</key>
	<string>wordbox-de10d</string>
	<key>STORAGE_BUCKET</key>
	<string>wordbox-de10d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802104267733:ios:ff37ad3c2695e72626a35c</string>
</dict>
</plist>